{% extends "base.html" %}

{% block body %}

<br><br>

<h4>
    <strong>
        Müşteri Kayıtlarına Göz Atın 
    </strong>
</h4>
<hr>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">İsim</th>
        <th scope="col">Email</th>
        <th scope="col">Telefon</th>
        <th scope="col">Kaydı Sil</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr>
            <th scope="row">{{ customer.id }}</th>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.tel }}</td>
            <td><a href="/delete/{{customer.id}}" class="btn btn-danger">Kaydı Sil</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock body %}